<% content_for :head do %>
  <title><%= @user.name %></title>
<% end %>

<div>
  <h3><%= "Hello, #{@user.name}!" %></h3>
</div>

<div>
  <h4>Events I'm hosting</h4>
  <ul>
    <% @hosted_events.each do |event| %>
      <li>
        <%= "#{event.name} @#{event.event_location}, on #{event.event_date}" %>
      </li>
    <% end %>
  </ul>
</div>
