<% content_for :head do %>
  <title><%= @user.name %></title>
<% end %>

<div>
  <h3><%= "Hello, #{@user.name}!" %></h3>
</div>

<%# Hosted events %>
<div>
  <div>
    <h4>Events I'm hosting</h4>
  </div>
  
  <div>
    <ul>
      <% @hosted_events.each do |event| %>
        <%# This is a candidate for replacement with the partial _event by moving the partial to a shared directory. %>
        <li>
          <%= "#{event.name} @#{event.event_location}, on #{event.event_date}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%# Attending events %>
<div>
  <div>
    <h4>Events I'm attending</h4>
  </div>

  <div>
    <ul>
      <% @attendances.each do |attendance| %>
        <%# This is a candidate for replacement with the partial _event by moving the partial to a shared directory. %>
        <li>
          <%= "#{attendance.attended_event.name} @#{attendance.attended_event.event_location}, on #{attendance.attended_event.event_date}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
