<h3>All Events</h3>

<div>
  <% @events.each do |event| %>
    <%= render event, host_name: event.host.name %>
    
    <div>
      <%= link_to "See details", event %>
    </div>
    <br />
    <br />
  <% end %>
</div>